@(name: String, id: Integer)

    @main("Profile") {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-xs-12 col-sm-2">
                                    <h2>@name</h2>
                                </div>

                                <div class="col-xs-12 col-sm-2">
                                    <p><small> Unfriend </small></p>
                                    <button type="submit" class="btn btn-success btn-block">
                                        <a href='@routes.FriendController.deleteFriend(id.toString)'> Unfriend </a>
                                    </button>
                                </div><!--/col-->

                                <div class="col-xs-12 col-sm-2">
                                    <p><small> Unsubscribe </small></p>
                                    <button type="submit" class="btn btn-danger btn-block">
                                        <a href='@routes.SubscribeController.deleteSubscribe(id.toString)'> Unsubscribe </a>
                                    </button>
                                </div><!--/col-->

                                <div class="col-xs-12 col-sm-2">
                                    <p><small> Add to Group </small></p>
                                    <button type="submit" class="btn btn-toolbar btn-block">
                                        <a href='@routes.GroupController.addUserToGroup(id.toString)'> Add </a>
                                    </button>
                                </div><!--/col-->

                            </div><!--/row-->
                        </div><!--/panel-body-->
                    </div><!--/panel-->
                </div>
            </div>
        </div>
    }
