@(groups : List[Group])

    @main("Profile") {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @for(group <- groups){
                    <div class="panel panel-default">
                        <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-10">
                                        <h2>@group.getTitle</h2>
                                        <br/> @group.getAdmin
                                    </div>

                                    @if(group.getAdminBoolean) {
                                        <div class="col-xs-12 col-sm-2">
                                            <button type="submit" class="btn btn-danger btn-block">
                                                <a href='@routes.GroupController.deleteGroup(group.groupId)'> Delete </a>
                                            </button>
                                        </div>
                                    }
                                </div><!--/row-->
                                @for(user <- group.getFriends) {

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2">
                                            <h4>@user.getName()</h4>
                                        </div>

                                        <div class="col-xs-12 col-sm-2">
                                            <p><small> Friend </small></p>
                                            <button type="submit" class="btn btn-success btn-block">
                                                <a href='@routes.WorkflowController.newWorkflow()'> Friend </a>
                                            </button>
                                        </div><!--/col-->

                                        <div class="col-xs-12 col-sm-2">
                                            <p><small> Subscribe </small></p>
                                            <button type="submit" class="btn btn-danger btn-block">
                                                <a href='@routes.WorkflowController.viewAllWorkflows()'> Subscribe </a>
                                            </button>
                                        </div><!--/col-->

                                        <div class="col-xs-12 col-sm-2">
                                            <p><small> Add to another Group </small></p>
                                            <button type="submit" class="btn btn-toolbar btn-block">
                                                <a href='@routes.GroupController.addUserToGroup(user.getID.toString())'> Add </a>
                                            </button>
                                        </div><!--/col-->

                                        @if(group.getAdminBoolean) {
                                            <div class="col-xs-12 col-sm-2">
                                                <p><small> Delete from Group </small></p>
                                                <button type="submit" class="btn btn-danger btn-block">
                                                    <a href='@routes.GroupController.deleteUserFromGroup(user.getID.toString(), group.getTitle)'>
                                                        Delete </a>
                                                </button>
                                            </div> <!--/col-->
                                        }
                                    </div><!--/row-->
                                }
                        </div><!--/panel-body-->
                    </div><!--/panel-->
                    }
                </div>
            </div>
            <button type="submit" class="btn btn-toolbar btn-block">
                <a href='@routes.Application.workflowHome()'> Home </a>
            </button>
        </div>
    }
